@font-face {
  font-family: 'CONSOLA';
  src: local('CONSOLA'), url(./resources/fonts/CONSOLA.TTF) format('truetype');
}

.menu {
   width: 100%;
   border-bottom: 2px dashed;
   line-height: 0em;
   margin: 1em 0px 2em;
}

.menu span{
   padding: 0 0.9em;
}

.menu b{
  padding: 0 0.9em;
}

.link-underline {
  text-decoration-line: underline !important;
  text-decoration-style: wavy !important;
}

input{
    box-shadow: none !important;
}

.highlight {
  border-bottom: 2px solid;
} 