:root {
   --black: #141214;
   --white: #eff1ff;
   --red: #ff0000;
}

@font-face {
   font-family: 'CONSOLA';
   src: local('CONSOLA'), url(./assets/fonts/CONSOLA.TTF) format('truetype');
}

* {
   line-height: 0.5;
   font-size: 14px;
}

html,
body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: var(--black);
   font-family: 'CONSOLA';
}

.text-light {
   color: var(--white);
}

.text-dark {
   color: var(--black);
}

.text-danger {
   color: var(--red);
}

.text-align-left {
   text-align: center;
}

.text-align-center {
   text-align: center;
}

.text-align-right {
   text-align: center;
}

.text-uppercase {
   text-transform: uppercase;
}

.text-lowercase {
   text-transform: lowercase;
}

.text-bold {
   font-weight: 700;
}

.text-semi-bold {
   font-weight: 600;
}

.text-italic {
   font-style: italic;
}

.bg-light {
   background-color: var(--white);
}

.bg-dark {
   background-color: var(--black);
}

.bg-danger {
   background-color: var(--red);
}

.border-color-light {
   border-color: var(--white) !important;
}

.border-color-dark {
   border-color: var(--black) !important;
}

.border-color-danger {
   border-color: var(--red) !important;
}

.sm {
   width: 520px;
}

.md {
   width: 700px;
}

.lg {
   width: 940px;
}
